html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

*:focus {
  outline: 0 !important;
}


a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.outline.pv4 > div > a {
  text-decoration: none;
}

input {
  border: 1px solid grey !important;
}

@media (max-width:450px) {
  .tab-link {
    display: none !important;
  }
}

.f6.w-100.link.dim.ph3.pv3.mb2.dib.white.bg-black:hover {
  cursor: pointer !important;
}

footer.pv4.ph2.tc-l {
  height: 100px;
  background-color: rgb(241, 242, 243);

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.scroll-up-button {
  transition: .4s !important;
}
 
.scroll-up-button:focus {
  outline: 0;
  box-shadow: none !important;
}

.scroll-up-button:hover {
  background-color: rgb(120, 187, 207) !important;
}

.SocialMediaShareButton {
  display: inline-block;
  margin-top: 15px;
  margin: 10px 8px;
} 
