html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

*:focus {
  outline: 0 !important;
}

a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

.logo {
  transition: .4s;
}

.logo:hover {
  color:rgb(0, 0, 0);
}

.outline.pv4 > div > a {
  text-decoration: none;
}

input {
  border: 1px solid grey !important;
}

.search-btn:hover {
  background-color: rgb(51, 51, 51) !important;
}

ul.sources {
  margin-left: -40px;
}

.category-name,
.source-name {
  font-family: "Helvetica", "Arial";
  margin-top: 80px;
  color: rgb(73, 73, 73);
}

@media (max-width:450px) {
  .tab-link {
    display: none !important;
  }
}

.tc.mw8.center.mt4.mb3 {
  margin-top: -80px !important;
  margin-bottom: 90px !important;

}

.loadmore {
  border: none;
  border-radius: 4px;
  transition: .4s;
}

.loadmore:hover {
  cursor: pointer !important;
  background-color: rgb(51, 51, 51) !important;
}

footer {
  margin-top: 100px !important;
}

footer.pv4.ph2.tc-l {
  min-height: 160px;
  background-color: rgb(241, 242, 243);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.SocialMediaShareButton {
  display: inline-block;
  margin-top: 15px;
  margin: 10px 8px;
} 

.topheadlines {
  margin-bottom: 150px !important;
}

.headlines {
  margin-bottom: 150px !important;
}

.box-sources.mw9.center.ph3-ns {
  margin-bottom: 150px !important;
}

.scroll-up-button {
  transition: .4s !important;
  border-radius: 2px;
}
 
.scroll-up-button:focus {
  outline: 0;
  box-shadow: none !important;
}

.scroll-up-button:hover {
  background-color: rgb(79, 141, 160) !important;
}


@media (max-width:450px) {
  .tc.mw8.center.mt4.mb3 {
    margin-top: -140px !important;
    margin-bottom: 130px !important;
  }

  .category-name,
  .source-name {
    margin-top: 60px;

    font-size: 21px;
  }

  .loadmore {
    border-radius: 0;
  }

  h1.spacer {
    margin-bottom: 30px !important;
  }

  ul.sources {
    margin-bottom: 340px !important;
  }

  .box-sources h2.tc {
    margin-top: 50px !important;
  }

  .scroll-up-button {
    height: 36px !important;
    width: 43px !important;
  } 

}